$primaryColor : #01d277;
$secondaryColor : #081c24;
$inputTextColor: #eaedf2;
$descriptionLightColor : #eaedf2;
$descriptionBackgroundColor : rgba(0, 0, 0, 0.85);
$inputBackrgoudColor: rgba(0, 0, 0, 0.85);