
//desktop
$inputTextDesktop : 1.2rem;
$hintsTextDesktop: 1.1rem;
$descriptionTitleDesktop: 3rem;
$taglineDesktop: 1.4rem;
$descriptionAboutDesktop: 1.4rem;
$genretagsDesktop: 1.4rem;
$descriptionProducersDesktop: 1.1rem;
$infotitleDesktop: 1.3rem;
$descriptionInfoValueDesktop: 1.8rem;





//mobile
$inputTextMobile : 0.6rem;
$hintsTextMobile: 0.7rem;
$descriptionTitleMobile: 1.3rem;
$taglineMobile: 1rem;
$descriptionAboutMobile: 0.8rem;
$genretagsMobile: 1rem;
$descriptionProducersMobile: 0.8rem;
$infotitleMobile: 1rem;
$descriptionInfoValueMobile: 1.1rem;
