@import '../../scss/colors.scss';
@import '../../scss/fonts.scss';
@import '../../scss/mixins.scss';


#wrapper {
    width: 100vw;
    height: 100%;
    background-color: $secondaryColor;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 2vh;
    padding-bottom: 4vh;
    font-family: 'Montserrat', sans-serif;
    @include desktop {
        height: 100vh;
        padding-left: 15vw;
        padding-right: 15vw;
        background-image: none;
    }
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: flex-start;
    }
}

