@import '../../scss/mixins.scss';



.database-logo {
    width: 35%;
    height: 100px;
    background-image: url('../../images/logopng.png');
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: left;
    border: 0;

};

